*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*note*/
    text-decoration: none;
}
/* navbar*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 10px; /*top and bottom 15 side 0*/
    background-color: #EA4335;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: flex-end;
   justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;/*note*/
}
.navbar .menu li{
    list-style: none;
    display: inline-block;/* to display nav items in line*/
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .menu li a:hover{
    color: #FBBC05;
}
