{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>SATURDAY HACKNIGHT</title>
</head>
<body>
    <div class="navbar">
        <div class="max-width">   
            <div class="logo"><a href="#">GMAIL API SITE</a></div>
                <ul class="menu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SOMETHING</a></li>
                </ul>
        </div>     
    </div>
    <div class="container">
        <form action="login">
            <label>TO</label>
            <select name="to" id="to" class="options">
                <option value="managers">MANAGERS</option>
                <option value="developers">DEVELOPERS</option>
                <option value="designers">DESIGNERS</option>
            </select>
            <label>MESSAGE</label>
            <input type="text" placeholder="Type your message here..." class="text-field">
            <button class="button" style="vertical-align:middle"><span>SEND</span></button>
        </form>
    </div>
    
</body>
</html>